main/target
python-bindings/build
python-bindings/dist
python-bindings/*egg-info*
python-bindings/tests/__pycache__*
python-bindings/__pycache__*
python-bindings/*eggs*
python-bindings/target
main/src/preprocessing/vocab/sentencepiece_proto/sentencepiece_model.rs
**/*.rs.bk
.idea*
/resources

